* {
  font-family: 'Balsamiq Sans', cursive;
}

body {
  text-align: center;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul,
li {
  list-style: none;
  text-decoration: none;
  color: black;
}

.forecasts {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.forecast {
  border: 1px solid black;
  display: grid;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.05);
}
img {
  /* max-width: 70%; */
}
footer {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

a {
  text-decoration: none;
  margin-top: 5px;
}

a:visited,
a:active,
a {
  color: black;
}
.icon {
  margin-top: 50vh;
}

.results {
  margin-top: 5px;
}

input {
  margin-bottom: 20px;
  width: 200px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid white;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* align-content: center;
  align-self: center; */
}
