body {
  margin: 0;
  margin: 0;
  padding: 0;
  padding: 0;
  text-align: center;
}

ul {
  list-style: none;
}

.forecasts {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1px;
  padding: 10px;
  margin: 10px;
}

.forecast {
  border: 1px solid black;
  display: grid;
  padding: 10px;
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
